@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(images/bg.jpg);
  background-size: cover;
  /* background-position-x: -50px; */
  color: #fff;
  font-family: "Amiri", sans-serif;
  font-size: 18px;
}

.container {
  background-color: hsla(0, 0%, 0%, 0.58);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.container .card {
  background-color: hsla(182, 25%, 50%, 0.336);
  width: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 0 5px 5px hsla(0, 0%, 100%, 0.459);
  border-radius: 5px;
}

.container .card:nth-of-type(1) {
  margin-top: 30px;
}

.container .card .logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  top: -55px;
  box-shadow: 0 0 10px hsl(0, 0%, 100%);

}
.container .card .name {
  margin-top: -50px;
  font-size: 45px;
  font-style: italic;
}
.container .card .title {
  color: hsla(0, 0%, 100%, 0.761);
  font-size: 15px;
  border-bottom: 2px dotted hsla(0, 0%, 100%, 0.582);
  width: 140px;
  padding-bottom: 10px;
}
.container .card .cta  {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.container .card .links {
  margin-bottom: 30px;
}
.container .card a {
  display: block;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.87);
  font-weight: 700;
  margin-top: 20px;
  width: 250px;
  border-radius: 20px;
  padding: 5px 0;
  transition: 0.2s;
}
.container .card a:hover {
  transform: scale(1.1); 
}
.container .card .links .youtube {
  background-color: hsla(0, 100%, 50%, 0.8);
}
.container .card .links .facebook {
  background-color: hsla(214, 89%, 52%, 0.8);
}
.container .card .links .instagram {
  background-color: hsla(340, 75%, 54%, 0.8);
}
.container .card:nth-of-type(2) {
  padding-bottom: 30px;
}
.container .card:nth-of-type(2) p {}
.container .card:nth-of-type(2) a {
  background-color: hsla(142, 70%, 49%, 0.8);
}
